<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Le Louvre {% endblock %}</title>
        {% block stylesheets %}
            {% include('assets/stylesheet.html.twig') %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>


        {% block nav %}
            {% include('nav/nav.html.twig') %}
        {% endblock %}
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-success alert-dismissable fade in alert-{{ label }} text-center">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ flash }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% block header %}
            <ol class=" text-center breadcrumb">
                {% if app.request.get('_route') == 'Accueil'%}
                    <li class="active">Billeterie</li>
                    <li class="disabled">Récapitulatif</li>
                    <li class="disabled">Confirmation</li>
                {% elseif app.request.get('_route') == 'Recap' %}
                    <li><a href="{{ path('Accueil') }}">Billeterie</a></li>
                    <li class="active">Récapitulatif</li>
                {% elseif app.request.get('_route') == 'Come-back' %}
                    <li><a href="{{ path('Accueil') }}">Billeterie</a></li>
                    <li class="disabled">Récapitulatif</li>
                    <li class="active">Confirmation</li>
                {% endif %}
            </ol>
        {% endblock %}

        {% block content %}
        {% endblock %}
        {% block javascripts %}
            {% include ('assets/javascript.html.twig') %}
        {% endblock %}
    </body>
</html>
