<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Le Louvre!{% endblock %}</title>

        {% block stylesheets %}
            {% include('assets/stylesheet.html.twig') %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>


        {% block nav %}
            {% include('nav/nav.html.twig') %}
        {% endblock %}
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        {% if app.session.flashBag.has('payment') %}
            <div class="alert alert-success alert-dismissable fade in">
                {% for msg in app.session.flashBag.get('payment') %}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg }}
                {% endfor %}
            </div>
        {% elseif app.session.flashBag.has('error')%}
            <div class="alert alert-warning alert-dismissable fade in">
                {% for msg in app.session.flashBag.get('error') %}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg | nl2br }}
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}{% endblock %}
        {% block javascripts %}
            {% include ('assets/javascript.html.twig') %}
        {% endblock %}
    </body>
</html>
