{% import _self as formMacros %}
{% extends 'base.html.twig' %}


{% macro billetRow(billet) %}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <h6 class="text-center text-warning">{{ form_errors(billet.nom) }}</h6>
                    {{ form_widget(billet.nom, {'attr': {'class':'text-center form-control', 'placeholder':'Nom'}}) }}
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <h6 class="text-center text-warning">{{ form_errors(billet.prenom) }}</h6>
                    {{ form_widget(billet.prenom, {'attr': {'class':'text-center form-control', 'placeholder':'Prénom'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <h6 class="text-center text-warning">{{ form_errors(billet.birthdate) }}</h6>
                    {{ form_widget(billet.birthdate, {'attr': {'class':'text-center form-control', 'placeholder':'Date de naissance'}}) }}
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-6 col-sm-6">
                <div class="form-group">
                    <h6 class="text-center text-warning">{{ form_errors(billet.pays) }}</h6>
                    {{ form_widget(billet.pays, {'attr': {'class':'form-control', 'value':'Pays'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="text-center form-group">
                    <h6 class="text-center text-warning">{{ form_errors(billet.tarifReduit) }}</h6>
                    {{ form_widget(billet.tarifReduit, {'attr': {'class':'text-center form-control', 'placeholder':'Tarif Réduit'}}) }}
                    {{ form_label(billet.tarifReduit) }}
                </div>
            </div>
        </div>
{% endmacro %}

{% block content %}

    {#
If the form is not valid then :
Note: in this case the form variable is : form
 #}
    {% if not form.vars.valid %}
        <ul>
            {# Loop through every form item #}
            {% for child in form.children %}
                {# Display the errors of the form item #}
                {%for error in child.vars.errors%}
                    <h4 class="text-center"><li class="text-warning  list-unstyled" >{{error.message}}</li></h4>
                {%endfor%}
            {%endfor%}
        </ul>
    {%endif%}

    {% if (1000 - tickets) <= 0  %}
        <h3 class="text-center">Il ne reste actuellement plus de tickets disponible pour aujourd'hui.</h3>
        <h3 class="text-center">Veuillez selectionner une date différente.</h3>
    {% else %}
        <h3 class="text-center">Il reste actuellement {{ 1000 - tickets }} tickets disponible pour aujourd'hui.</h3>
    {% endif %}

    <div class="text-center"><button type="button" class="btn btn-primary" data-target="#myModal" data-toggle="modal">Annuler la commande</button></div>
    <br>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmez l'annulation de la commande</h4>
                </div>
                <div class="modal-body">
                    <p>Etes vous sûr d'annuler la commande ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a href="{{ path('Accueil') }}"><button type="button" class="btn btn-warning" >Annuler la commande</button></a>
                </div>
            </div>
        </div>
    </div>

    {{ form_start(form) }}
    <h3 class="text-center text-warning">{{ form_errors(form) }}</h3>
<div class="container">
    <div class="row">
        <div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
            <div class="row message">
                 <div class="text-center col-xs-12 col-md-4 col-lg-4 col-sm-4">
                    <div class="form-group">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'text-center form-control', 'placeholder':'Email'}}) }}
                    </div>
                </div>
                <div class="text-center col-xs-12 col-md-4 col-lg-4 col-sm-4">
                    <div class="form-group">
                        {{ form_widget(form.dateDeVenue, {'attr': {'class':'text-center form-control', 'placeholder':'Date de la visite'}}) }}
                    </div>
                </div>
                <div class="text-center col-xs-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        {{ form_widget(form.demiJournee, {'attr': {'class':'text-center form-control'}}) }}
                        {{ form_label(form.demiJournee) }}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 col-sm-offset-2 col-sm-8">
                    <div class="form-group text-center">
                        <button type="submit" id="validate" class="align-center btn btn-default">valider</button>
                    </div>
                </div>
            </div>
            <div class="no-padding-left container">
                <div class="row">
                    <div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
                        <ul class="text-center billets" data-prototype="{{ formMacros.billetRow(form.billets.vars.prototype)|e('html_attr') }}">
                            {% for billet in form.billets %}
                                {{ formMacros.billetRow(billet) }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="transparent panel panel-default text-center">
                <div class="panel-heading">Récupérez votre commande</div>
                <div class="panel-body transparent">
                    <div class="row">
                        <div class="text-center">
                        </div>
                    </div>
                     {{ form_start(order) }}
                        <h3 class="text-center text-warning">{{ form_errors(order) }}</h3>
                            <div class="form-group">
                                <h6 class="text-center text-warning">{{ form_errors(order.email) }}</h6>
                                {{ form_widget(order.email, {'attr': {'class': 'text-center form-control','placeholder': 'Récuperation'}}) }}
                            </div>
                            <p class="help-block">En cas de perte de votre mail de confirmation retrouvez le en renseignant ici l'adresse email utilisé pour votre commande.</p>

                </div>
                {% include('panel/panel.html.twig') %}
                {{ form_end(order) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/addTicketLink.js') }}"></script>

{% endblock %}