{% extends 'base.html.twig' %}

{% block content %}
    {% set grandTotal = 0 %}
    {% set billetTotal = 0 %}
    {% for billet in order.billets %}
        {% set grandTotal = grandTotal + billet.montant %}
        {% set billetTotal = billetTotal +1 %}
    {% endfor %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-success alert-dismissable fade in alert-{{ label }} text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ flash }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

<h3 class="text-center">Il reste actuellement {{ 1000 - nombreTickets }} tickets disponible pour la journée du {{ order.dateDeVenue|date("d/m/Y") }}.</h3>

<h1 class="text-center">Récapitulatif de la commande</h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xs-12 col-md-8 col-sm-8">
                <table class="table table-responsive">
                    <thead>
                    <th>Visiteur</th>
                    <th>Tarif</th>
                    <th>Prix</th>
                    <th>Pays</th>

                    </thead>
                    <tbody>
                    {% for billet in order.billets %}
                        <tr>
                            <td>{{ billet.nom }}</td>
                            <td>{{ billet.tarif }}</td>
                            <td>{{ billet.montant }}</td>
                            <td>{{ billet.pays|country(app.request.locale)}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4">
                    <div class="transparent panel panel-default text-center">
                        <div class="panel-heading">Votre commande</div>
                        <div class="panel-body transparent">
                            <h3>Total de la commande : {{ grandTotal }} euros</h3><br>
                            <h3>Nombre de billets : {{ billetTotal }}</h3>
                            <h3>Date de la visite : {{ order.dateDeVenue|date("d/m/Y") }}</h3>
                            <section>
                                    <h3>Attention:</h3>
                                    <p class="help-block">Le tarif réduit est octroyé sous reserve de présentation d'un justificatif (étudiant, employé de musée, Ministère de la culture, militaire, ...)</p>
                            </section>
                        </div>
                        {% if grandTotal  > 0 %}
                            {% include('panel/panel.html.twig') %}
                        {% else %}
                            <p class="help-block">Il est impossible de valider une commande d'une valeur de 0 euro.</p>
                        {% endif %}
                        <a href="{{ path('Accueil') }}"><button class="btn btn-primary">Revenir en arrière</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="{{ asset('js/stripeButton.js') }}"></script>
{% endblock %}